{% extends base %}

{% block title %}Password Recovery - Tune.fm{% endblock %}

{% block content %}
<script type="text/javascript">
$(document).ready(function(){
	$("#recovery_email").enter(function(){
		$("#send_recovery").click();
	});
	$("#recovery_email").val('{{email}}');
});
</script>
<div class="password-recovery">
    <br><br><h1 style="color:#ffffff;">Email used for registration:</h1><br><br>
    <input style="color:#ffffff;background:#000000;padding:10px;margin:10px;border-radius:4px;width:400px;" id="recovery_email" type="text" name="name" maxlength="400"/>
    <button id="send_recovery" class="link-btn blue" onclick="sendRecovery()" style="font-size:16px">Continue</button><br><br><br>
    <div style="color:#ffffff;">
    	You will be sent a recovery email to this address containing new login credentials.
        <br>
        <br>
        <br>
        <p style="font-size:14px;line-height: 20px;"><b>Please note:</b> Once you've changed your password your wallet will be partially locked.
        You will be able to listen to music and continue receiving JAM tokens for listens of your
        music, however, you need to contact support in order to fully unlock
        your wallet to perform any other transactions. The reason is your password
        is used to encrypt your private keys so if you forget your password,
        the original wallet must be manually unlocked by support staff members
        in order to transfer the balance to a new secure wallet encrypted by the new password.
        <br/>
        <br/>
        For now unlocking is free, but in the future it might incur a fee in JAM tokens.
        Please make sure to remember your password and write it down somewhere safe.
        Your JAM token wallet is secured by your password!</p>
	</div>
    <div class="right_success right_feedback" style="display:none; left:600px; top:105px;border-radius:50px;padding:10px;" id="recovery_sent">Email sent!</div>
    <div class="right_error right_feedback" style="display:none; left:600px; top:105px;border-radius:50px;padding:10px;" id="recovery_failed">Email address not in our system!</div>
</div>

{% csrf_token %}

{% endblock %}
