{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Tune.FM - tokenized music marketplace - NFTs, micropayments, social audio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static "landing/assets/css/main.css" %}" />
        <!-- google analytics -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174110339-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-174110339-1');
        </script>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Start Discovering</h1>
							<div class="tune-logo">{% include "tune.svg" %}</div>
							<p style="color: #fff;">When the music gets played,<br>the artist gets paid.</p>
							<a href="/join/" class="button primary large">Join and Get 100 <b>ɈAM</b> Reward!</a>
							<a href="/join/" class="button" style="position: absolute; top: 15px;left: 15px; z-index: 99999; width: 200px; height: 40px; line-height: 40px; color: #fff !important;">Beta Login</a>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><img src="{% static "landing/images/arrow-down.svg" %}" width="40px;"><span class="label">Next</span></a></li>
							</ul>
							
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{% static "landing/images/livemusic.jpg" %}" alt="" /></span>
						</div>

					</section>
                    <!-- Section -->
					<section id="first">

						<header>
							<h2>Music NFTs, Streaming Micropayments, and Social Audio for Artists & Music Fans</h2>
						</header>

						<div class="content">

							<img src="{% static "landing/images/hearo-token.svg" %}" class="token">
						</div>
						<div class="content">
							<!-- <p><strong>Powered by the JAM Token</strong>, Tune.FM provides seamless value exchange between music listeners and creators.  Pay for what you consume and get paid for listening to promoted music around the world.  Brought to you by <img src="{% static "landing/images/hearofm.svg" %}" style="width: 85px;">, tune.fm is the next generation of music streaming. <b>No Subscription Required. Start Discovering.</b></p> -->
							<p><span class="tune-logo">{% include "tune.svg" %}</span> is a tokenized music marketplace for Music NFTs, streaming royalty micropayments, and live social audio experiences for artists to earn directly from their fans.
							<br>
							Powered by the <b>ɈAM</b> token on <a href="https://www.hedera.com/" target="_blank"><img src="{% static "landing/images/hh.svg" %}" style="text-decoration: none;"></a> 
							</p>
							<ul class="icons">
                                <li><a href="https://twitter.com/tunefmofficial" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
								<li><a href="https://t.me/tunefm" class="icon brands fa-telegram" target="_blank"><span class="label">Telegram</span></a></li>
                                <li><a href="https://www.facebook.com/tunefmofficial" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                                <li><a href="https://www.instagram.com/tunefmofficial/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                <li><a href="https://medium.com/hearo-fm" class="icon brands fa-medium" target="_blank"><span class="label">Medium</span></a></li>
                            </ul>

							<iframe width="100%" height="315px" src="https://www.youtube.com/embed/RzFR75vi6SM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

							

							<a class="twitter-timeline" data-height="600" data-theme="light" data-link-color="#ED2224" href="https://twitter.com/tunefmofficial?ref_src=twsrc%5Etfw">Tweets by Tune.FM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

							<p><strong>In the News:</strong></p>

							<a href="https://hedera.com/blog/bitrue-expands-hedera-support-with-tune-fm-jam-token" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/hh.svg" %}" style="width:200px;margin-right:30px;"></a>
							<a href="https://venturebeat.com/2019/11/07/tune-fm-taps-hedera-hashgraph-for-novel-use-of-cryptocurrency-in-fast-music-micropayments/" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/venturebeat.png" %}" class="news"></a>
							<a href="https://cointelegraph.com/news/can-cryptocurrency-create-a-new-niche-in-music-streaming" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/cointelegraph.png" %}" class="news"></a>
							<a href="https://hackernoon.com/why-blockchain-might-not-be-the-perfect-technology-for-the-music-industry-936db6aa2b35" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/hackernoon.png" %}" class="news">
							<a href="https://decrypt.co/11245/tune-fm-adds-beyonce-to-blockchain-music-service" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/decrypt.png" %}" class="news"></a>
							<a href="https://www.musicweek.com/digital/read/we-can-change-the-game-tech-start-up-hearo-fm-launching-streaming-cryptocurrency/073972" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/musicweek.png" %}" class="news"></a>
							<a href="https://fullycrypto.com/could-tune-fm-finally-end-spotifys-era-of-dominance" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/fullycrypto.png" %}" class="news"></a>
							<!-- <a href="https://www.btcwires.com/round-the-block/crypto-hits-the-radio-with-jam-music-token/" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/btcwires.png" %}" class="news"></a> -->
							<a href="https://deadline.com/2019/11/this-week-in-music-a-deal-making-week-with-bmg-sony-mwe-and-msg-1202782194/" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/deadline.png" %}" class="news"></a>
							<a href="https://www.inquirer.com/philly/business/20150828_TUNE_UP_PROFITS.html" target="_blank" style="border-bottom: none;"><img src="{% static "landing/images/inquirer.jpeg" %}" class="news"></a>
							
							<!-- <span class="image main"><img src="{% static "landing/images/pic02.jpg" %}" alt="" /></span> -->
							<br>
							
						</div>
					</section>

                    <!-- Section -->
					<section>
						<header>
							<h2>Find hyper-local music from diverse communities around the world</h2>
						</header>
						<div class="content">
							<p><span class="tune-logo">{% include "tune.svg" %}</span>'s algorithm sorts trending music from around the world based on your tastes and delivers you an unparalled experience for discovering music based on popularity, genre, location, instrument, and much more. Feel the thrill of discovering a local music scene you dig halfway around the globe.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-map-marker-alt">Hyper Local</li>
								<li class="icon solid fa-music">Music Discovery</li>
								<li class="icon solid fa-headphones">Pay as you go</li>
								<li class="icon solid fa-id-badge">No Subscription</li>
							</ul>
							<p>As a music fan and listener, you get access to all the social tools to interact with your favorite artists directly. From following & posting updates, to built-in <i>FanMail</i> messaging, you can connect with artists you love directly like never before and even tip them creating music that moves you!</p>
							<!-- <div class="gallery">
								<a href="{% static "landing/images/gallery/fulls/discovery.png" %}"><img src="{% static "landing/images/gallery/thumbs/thumb1.png" %}" alt="" /></a>
								<a href="{% static "landing/images/gallery/fulls/map.png" %}"><img src="{% static "landing/images/gallery/thumbs/01.jpg" %}" alt="" /></a>
								<a href="{% static "landing/images/gallery/fulls/ginger.png" %}"><img src="{% static "landing/images/gallery/thumbs/02.jpg" %}" alt="" /></a>
								<a href="{% static "landing/images/gallery/fulls/southwork.png" %}"><img src="{% static "landing/images/gallery/thumbs/south-thumb.png" %}" alt="" /></a>
								<a href="{% static "landing/images/gallery/fulls/musicupload.png" %}"><img src="{% static "landing/images/gallery/thumbs/album-thumb.png" %}" alt="" /></a>
								<a href="{% static "landing/images/gallery/fulls/wallet.png" %}"><img src="{% static "landing/images/gallery/thumbs/wallet-thumb.png" %}" alt="" /></a>
							</div> -->
							<br><br>
							<a href="/join/" class="button">Start Listening Now</a>
						</div>
					</section>

                    <!-- Section -->

					<section>
						<header>
							<h2>Artists, Get on the World Stage</h2>
							<p style="color: #fff;">Join tens of thousands of artists around the world currently earning JAM on <span class="tune-logo">{% include "tune.svg" %}</span><br> Earn JAM for every second your music is streamed, and even promote your music with JAM. Mint exclusive NFTs and sell them directly to your fans!</p>
							<a href="/join/" class="button primary large">Let's Do This!</a>
							<ul class="actions">
								<li><a href="#artist" class="arrow scrolly"><img src="{% static "landing/images/arrow-down.svg" %}" width="40px;"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="{% static "landing/images/01.jpg" %}" alt="" /></span>
						</div>
					</section>
					<section id="artist">
						<header>
							<h2>Music Deserves More</h2>
						</header>
						<div class="content">
							<p><strong>As an industry-first, artist-powered network,</strong><br><br><span class="tune-logo">{% include "tune.svg" %}</span> has the tools necessary for artists around the world to actually earn a living and control their destiny. Our micropayment technology enables <strong>Per-Second Streaming</strong> compensation and <strong>Music NFT Minting</strong> services to monetize content instantly and globally like never before.</p>
							<ul class="feature-icons">
								<li class="icon solid fa-signal">Play to Earn</li>
								<li class="icon solid fa-bolt">Music NFT Minting</li>
								<li class="icon solid fa-cog">Powerful Dashboard</li>
								<li class="icon solid fa-dollar-sign">Instant Payments</li>
							</ul>
							<!-- Section -->
								<section>
									<header>
										<h3 class="Artists">Built by Artists, For Artists.</h3>
										<p class="Artists"><span class="tune-logo">{% include "tune.svg" %}</span> was built to give power back to the artist. Take control of your creations and your rights. You deserve it.</p><p class="Artists">Earn 10X+ more from streaming versus Spotify and others by keeping 90% of your streaming revenue (instead of less than 10%)</p>
										<p class="Artists"><i>"When the Music Gets Played, the Artist Gets Paid."</s></i></p>
									</header>

									<div class="content">
										<p><strong>We built sophisticated core audio technology for your Masters.</strong> Seamlessly upload and stream lossless high-fidelity music from massive uncompressed audio files. This ensures uncompromised audio quality and even helps prevents potential DMCA violations.</p>

										<p><strong>For Labels:</strong></p>
										<p>Our non-exclusive hybrid license works nicely for independents and major labor rightsholders and publishers alike. Manage multiple artists and band pages with 1 account. Control the splits between multiple members. Earn JAM tokens in one central wallet from all your artists. Contact us at labels@tune.fm for access to automated bulk uploading tools for large catalogs of masters.</p>
									</div>

								</section>
						</div>
                    </section>
                    <!-- Section -->
                    <section>
                        <header>
                            <h2>Beyoncé</h2>
                            <p style="color: #fff;">Featuring Beyoncé live instrumentals and grammy award winning artists.</p>
                            <br>
                        </header>
                        <div class="content">
                            <span class="image fill" data-position="center"><img src="{% static "landing/images/beyonce.png" %}" style="object-position: top;" alt="" /></span>
                        </div>
                    </section>
                    <!-- Section -->
					<section>
						<style>.team-block {
							display: inline-block;
							width: 200px;
							text-align: center;
							vertical-align: top;
							margin: 5px 5px 25px 5px;
						}
					
						.team-block img {
							border-radius:100px;
							height: 100px;
						}

						.team-block h3 {
							color: #000000;
						}

						#roadmap h3 {
							color: #000000;
						}
					
						.affiliations {
							text-align: center;
						}
					
						.aff-block {
							display: inline-block;
							width: 200px;
							text-align: center;
							vertical-align: top;
							margin: 5px 5px 25px 5px;
						}
					
						.aff-block img {
							max-width: 200px;
						}
						.major {
							color: #000000;
						}
						li h2 {
							color: #000000;
						}
					</style>
						<header>
							<h1>Team</h1>
						</header>
						<div class="content">
								<h2 class="major">Core Team</h2>
								<div class="team-container">
									<div class="team-block">
										<header><img src="/public/landing/images/me3.jpg" alt="" /></header>
										<h3>Andrew Antar</h3>
										<p>Co-Founder, developer, designer, and classically-trained violinist from Philadelphia, attended Brown University, holds a Blockchain Patent and has worked with clients like Comcast and Bank of America as a senior software engineer on large enterprise systems building component libraries and design systems as well as  designing and building products from the ground up for startups.</p>
										<a href="https://www.linkedin.com/in/andrewantar/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/andrewantar" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
										<a href="https://github.com/andrewantar" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
										<a href="mailto:andrew@tune.fm" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/brian.jpg" alt="" />
										<h3>Brian Antar</h3>
										<p>Co-Founder, developer, designer, and classically-trained violinist from Philadelphia attended University of Pennsylvania, Brian has sold millions of dollars of products on e-commerce marketpaces and has managed large scale 3PL fulfillment centers for growing e-commerce stores.</p>
										<a href="https://www.linkedin.com/in/brianantar/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/brianantar" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
										<a href="https://github.com/Brianantar" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
										<a href="mailto:brian@tune.fm" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/daniel.jpg" alt="" />
										<h3>Daniel Nordberg</h3>
										<p>CTO, Senior Software Engineer, and guitarist, Danny is a fullstack software developer building out our core platform and an expert in Python, Django, Devops, and managing distributed systems. Danny has built large enterprise systems for managing sustainable solar energy production and advanced scientific research applications.</p>
										<a href="https://www.linkedin.com/in/dnordberg/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://github.com/dnordberg" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
										<a href="mailto:daniel@tune.fm" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/rahul.jpg" alt="" />
										<h3>Rahul Kothari</h3>
										<p>Developer, Hashgraph engineer, Rahul is a leading blockchain engineer and Hedera expert. He is currently a student at University of Liverpool and scholarship recipient from the Consensys Blockchain Academy Developer Program.</p>
										<a href="https://www.linkedin.com/in/iamrahulkothari" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://www.github.com/rahul-ki" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
										<a href="mailto:rahul@hearo.fm" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/james.png" alt="" />
										<h3>James Pic</h3>
										<p>Open source developer, dev-ops, cyber-security expert, James helps maintain our security and server architecture while being a top ranked Python Django contributor to Stack Overflow.</p>
										<a href="https://github.com/jpic" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
									</div>
									<!-- <div class="team-block">
										<img src="/public/landing/images/dejan.png" alt="" />
										<h3>Dejan Mitrovic</h3>
										<p>Senior Python Engineer, Dejan can tackle any engineering feat with relative ease, and is helping build out our NFT Marketplace auction system.</p>
										<a href="https://github.com/" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
									</div> -->
									<div class="team-block">
										<img src="/public/landing/images/paul.jpg" alt="" />
										<h3>Paul Schmitzer</h3>
										<p>Community Manager, Paul helps keep our community strong with experience running strategic communications for Particl and being a long-term Bitcoin and JAM investor.</p>
										<a href="https://www.linkedin.com/in/paulschmitzer/" target="_blank" class="icon fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/litebitco" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
										<a href="https://github.com/litebit" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a>
										<a href="mailto:paul@hearo.fm" target="_blank" class="icon fa-envelope"><span class="label">Email</span></a>
									</div>
								</div>
								<h2 class="major">Advisors</h2>
								<div class="team-container">
									<!-- <div class="team-block">
										<img src="/public/landing/images/mathew.jpg" alt="" />
										<h3>Mathew Knowles</h3>
										<p>Music mogul and Owner of Music World Entertainment most known for managing his daughters Beyonce and Solange in Destiny's Child, Mathew has shared his entire catalog over 4.5K songs across 4 labels with tune.fm.</p>
										<a href="https://www.linkedin.com/in/mathewknowles/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div> -->
									<div class="team-block">
										<img src="/public/landing/images/adrian.png" alt="" />
										<h3>Adrian Fu</h3>
										<p>Recording Artist formerly with Universal Music Hong Kong, Adrian is leading communications and PR for our Asia and Pacific region bringing professional marketing experience from Qualcomm to tune.fm.</p>
										<a href="https://www.linkedin.com/in/adrian-fu-2a688bb/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/adrianfu" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/sean.jpg" alt="" />
										<h3>Sean Koh</h3>
										<p>Recording Artist with over a million streams and music blockchain influencer, Sean is moving mountains with ESKOH.</p>
										<a href="" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<!-- <div class="team-block">
											<img src="images/chris.jpg" alt="" />
											<h3>Chris Barrett</h3>
											<p>Chris Barrett has over 15 years of public relations and media experience. In 2011, he founded PRServe, a success-based PR agency for innovative startups. Since then, he's helped launch the successful media trajectory of over 600 leading startups. As one of the country's premier cryptocurrency and blockchain PR experts, he has helped top blockchain startups gain early traction in the consumer markets. In 2017, Chris co-founded the cryptocurrency startup Stream Token, an economic backbone for decentralized streaming. </p>
											<a href="https://www.linkedin.com/in/prserve/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
											<a href="https://twitter.com/ChrisBarrett" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
										</div> -->
									<div class="team-block">
										<img src="/public/landing/images/joseph.jpg" alt="" />
										<h3>Joseph McGrath</h3>
										<p>Former President & CEO of Unisys, Fmr. VP & GM of Xerox, Joe is an expert business strategist who has managed over 30K+ people in his 30+ year career. </p>
										<a href="https://www.linkedin.com/in/joseph-mcgrath-31a76821/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div>
									<!-- <div class="team-block">
										<img src="images/doc.jpg" alt="" />
										<h3>Doc Parghi</h3>
										<p>Managing Director of SRI Capital, Doc is an experienced technology investor with leadership roles at Ben Franklin Technology Partners and Broad Street Angels.</p>
										<a href="https://www.linkedin.com/in/docparghi/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div> -->
									<div class="team-block">
										<img src="/public/landing/images/jeff.jpg" alt="" />
										<h3>Jeff Rabhan</h3>
										<p>Chair of the Clive Davis Institute of Recorded Music at NYU, Jeff has generated over $1 billion in music sales for artists such as Kelly Clarkson and Jermaine Dupri.</p>
										<a href="https://www.linkedin.com/in/jeff-rabhan-07436530/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/JeffRabhan" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/hal.jpg" alt="" />
										<h3>Hal Real</h3>
										<p>Founder and CEO of World Cafe Live, Hal founded the non-profit Live Connections and helped develop the nationally syndicated radio show "Live at the World Cafe".</p>
										<a href="https://www.linkedin.com/in/hal-real-9128304/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/hreal" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/finegold.jpg" alt="" />
										<h3>Jonathan Finegold</h3>
										<p>Owner of Fine Gold Music, Jonathan is a music industry veteran specializing in sync licensing and has done work for brands like Apple and TV shows like Westworld as well as movies.</p>
										<a href="https://www.linkedin.com/in/jonathan-finegold-6944b85/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/jonathafinegold" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<!-- <div class="team-block">
										<img src="images/andrewmelchior.jpeg" alt="" />
										<h3>Andrew Melchior</h3>
										<p>Owner of Third Space Agency, Jonathan is a music industry veteran doing specialized cutting-edge technology and media experimentation for artists like Björk, Massive Attack, Aphex Twin, Frank Ocean, Diplo, and David Bowie.</p>
										<a href="https://www.linkedin.com/in/vonmelchior/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/melchiormelch" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div> -->
									<div class="team-block">
										<img src="/public/landing/images/joe.jpg" alt="" />
										<h3>Joe Fisher</h3>
										<p>OG Bitcoin miner, crypto-ecommerce and tokenomics expert, Joe is advising us on tokenomics and gamification in addition to advising Particl.</p>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/helen.png" alt="" />
										<h3>Helen Disney</h3>
										<p>CEO and Founder of Unblocked, a hub for Blockchain events, Helen was listed in Innovate Finance’s 2016 Women in Fintech Powerlist and referred to by Barclays as a “Blockchain guru”. She is also a member of techUK and of its DLT working group.</p>
										<a href="https://twitter.com/HDisney" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
										<a href="https://www.linkedin.com/in/helen-disney-unblocked/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div>
									<!-- <div class="team-block">
										<img src="/public/landing/images/awad.jpeg" alt="" />
										<h3>George J. Awad, Esq.</h3>
										<p>Founder of STEMchain and attorney with Spruce Law, George advises hearo.fm on all legal aspects of cryptocurrency and regulatory compliance for the JAM token.</p>
										<a href="https://www.linkedin.com/in/george-j-awad-6641517/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div> -->
								</div>
								<h2 class="major">Investors</h2>
								<div class="team-container">
									<div class="team-block">
										<img src="/public/landing/images/mark.jpg" alt="" />
										<h3>Mark Cheng</h3>
										<p>Partner at Mindfund and CEO of the Helix Accelerator, Mark chose the Tune.FM team to join the first cohort of Helix in Hong Kong to build our dApp on Hedera Hashgraph.</p>
										<a href="https://www.linkedin.com/in/chenghtmark/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
										<a href="https://twitter.com/chenghtmark" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/andy.jpg" alt="" />
										<h3>Andy Hertzfeld</h3>
										<p>Co-creator of the Macintosh on the original Mac team with Steve Jobs, Andy programmed the first MacOS, held key roles at Google X, and was our first angel investor.</p>
										<a href="https://en.wikipedia.org/wiki/Andy_Hertzfeld" target="_blank" class="icon brands fa-wikipedia-w"><span class="label">wikipedia</span></a>
										<a href="https://twitter.com/andyhertzfeld" target="_blank" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/neil.png" alt="" />
										<h3>Aniello Callari</h3>
										<p>Former advertising executive at Saatchi & Saatchi and founder of Brooklyn Media, Neil has done work for major Fortune 500 companies and resides in Austin, TX.</p>
									</div>
									<div class="team-block">
										<img src="/public/landing/images/paulamess.png" alt="" />
										<h3>Paul Anthony Amess</h3>
										<p>Paul has started and exited several technology companies and is now an active angel and crypto investor.</p>
										<a href="https://www.linkedin.com/in/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div>
									<!-- <div class="team-block">
										<img src="images/elie.png" alt="" />
										<h3>Rahm Samuel</h3>
										<p>Former President & CEO of VPI Corp, Rahm built and managed a retail, distribution, and real estate development group of companies in the mid-atlantic region.</p>
									</div> -->
									<!-- <div class="team-block">
										<img src="/public/landing/images/jack.jpg" alt="" />
										<h3>Jack Koson</h3>
										<p>Owner of Ironwood Resort Development, Jack has overseen luxury mountain resort developments from start to finish and is a fervent believer in tune.fm's mission.</p>
										<a href="https://www.linkedin.com/in/jack-koson-42b22711/" target="_blank" class="icon brands fa-linkedin"><span class="label">linkedin</span></a>
									</div> -->
								</div>
								<h2 class="major">Partners</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://www.hedera/com/" target="_blank" class="brand">
											<img style="height: 60px;" src="/public/landing/images/hashgraph1.png" title="Hedera Hashgraph" />
										</a>
									</div>
									<div class="aff-block">
										<a href="https://www.animocabrands.com/" target="_blank" class="brand">
											<img src="/public/landing/images/animoca.png" title="Animoca" />
										</a>
									</div>
									<div class="aff-block">
										<a href="https://www.helixwarp.com/" target="_blank" class="brand"><img src="/public/landing/images/helix.jpg" title="Helix" />
										</a>
									</div>
									<div class="aff-block">
										<a href="https://www.mindfund.com/" target="_blank" class="brand"><img src="/public/landing/images/mindfund.png" title="Mindfund" /></a>	
									</div>
									<div class="aff-block">
										<a href="https://www.unblockedevents.com/" target="_blank" class="brand">
											<img src="/public/landing/images/unblocked.jpg" title="Unblocked Events" />
										</a>
									</div>
									<div class="aff-block">
										<a href="https://www.worldcafelive.com/" target="_blank" class="brand">
										<img src="/public/landing/images/wclphila.png" title="World Cafe Live" />
										</a>
									</div>
									<div class="aff-block">
										<a href="https://www.musicbiz.org/" target="_blank" class="brand">
										<img src="/public/landing/images/musicbiz.jpg" title="Music Business Association" />
										</a>
									</div>
									<!-- <div class="aff-block">
										<img style="height: 30px;" src="images/icoalert.png" title="ICO Alert" />
									</div> -->
									<!-- <div class="aff-block">
										<img src="images/PledgeMusic.png" alt="Pledge Music" />
									</div> -->
									<!-- <div class="aff-block">
										<img src="images/brown.gif" title="Brown University" />
									</div>
									<div class="aff-block">
										<img src="images/penn.png" title="University of Pennsylvania" />
									</div> -->
								</div>
								<br>
								<h2 class="major">Exchanges</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://www.bitrue.com/trade/jam_usdt" target="_blank" class="brand">
										<img style="height: 60px;" src="/public/landing/images/bitrue.png" title="Bitrue" /></a>
									</div>
									<!-- <div class="aff-block">
										<img src="/public/landing/images/bittrex.jpg" title="Bittrex" />
									</div> -->
									<!-- <div class="aff-block">
										<img src="/public/landing/images/indodax.jpg" title="Indodax" />
									</div> -->
								</div>
								<br>
								<h2 class="major">Market Data</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://coinmarketcap.com/currencies/tune-fm/" target="_blank" class="brand">
										<img src="/public/landing/images/cmc.png" title="CoinMarketCap" /></a>
									</div>
									<div class="aff-block">
										<a href="https://www.coingecko.com/en/coins/tune-fm" target="_blank" class="brand">
										<img src="/public/landing/images/coingecko.png" title="CoinGecko" /></a>
									</div>
									<br>
									<script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinPriceBlock.js"></script><div id="coinmarketcap-widget-coin-price-block" coins="4642,11420,1" currency="USD" theme="light" transparent="false" show-symbol-logo="true"></div>
									<br>
									<br>
									<script src="https://widgets.coingecko.com/coingecko-coin-price-chart-widget.js"></script>
									<coingecko-coin-price-chart-widget  coin-id="tune-fm" currency="usd" height="300" locale="en"></coingecko-coin-price-chart-widget>
									<br>
									<br>
								</div>
								<h2 class="major">Wallets</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://dcentwallet.com/?lang=en" target="_blank" class="brand">
										<img style="height: 60px;" src="/public/landing/images/dcent.jpeg" title="dcent" /></a>
									</div>
									<div class="aff-block">
										<a href="https://www.wallawallet.com/" target="_blank" class="brand">
										<img src="/public/landing/images/walla.png" title="walla" /></a>
									</div>
									<!-- <div class="aff-block">
										<img src="/public/landing/images/coinomi.jpg" title="coinomi" />
									</div> -->
								</div>
								<h2 class="major">Explorers</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://app.dragonglass.me/hedera/dapps/tunefm" target="_blank" class="brand">
										<img src="/public/landing/images/dragonglass.png" title="dragon" /></a>
									</div>
									<div class="aff-block">
										<a href="https://explorer.kabuto.sh/mainnet/id/0.0.127877" target="_blank" class="brand">
										<img src="/public/landing/images/kabuto.svg" title="Kabuto" /></a>
									</div>
									<!-- <div class="aff-block">
										<img src="/public/landing/images/hashhash.jpg" title="HashHash" />
									</div> -->
								</div>
								<!-- <h2 class="major">Bridges</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://hashport.io/en/" target="_blank" class="brand">
										<img src="/public/landing/images/hashport.png" title="hashport" /></a>
								</div> -->
								<h2 class="major">Fiat Ramps</h2>
								<div class="affiliations">
									<div class="aff-block">
										<a href="https://moonpay.com" target="_blank" class="brand">
										<img src="/public/landing/images/moonpay.png" title="moonpay" /></a>
								</div>
								<img src="{% static "landing/images/visa.svg" %}" class="cards">
								<img src="{% static "landing/images/mastercard.svg" %}" class="cards">
								<img src="{% static "landing/images/amex.svg" %}" class="cards">
								<img src="{% static "landing/images/applepay.svg" %}" class="cards">
						</div>
					</section>
					<section>
						<header>
							<h1>Tech</h1>
						</header>
						<div class="content">
							<p><strong>Powered by <a href="https://hedera.com/users/tune-fm" target="_blank">Hedera Hashgraph</a></strong>Tune.FM's JAM Token provides lightning fast seamless global value exchange through streaming micropayments. The enterprise-grade security of Hedera's consensus algorithm (PoS) is the highest standard possible, <i>aBFT (Asynchronous Byzantine Fault Tolerant)</i>.</p>
							<p>The JAM token is the <i>first native audio token</i> built on the Hedera Token Service to be traded on an exchange, enabling for the first time ever streaming royalty micropayments with instant settlement. The blazingly fast high throughput (100Ks Tx/s with 3-5s consensus finality) and miniscule fees of a native Hedera token ($0.00001) allow pay-as-you-go micropayments, opening new frontiers for groundbreaking new business models for media consumption.</p>
							<p>The Hedera Token Service also natively supports minting NFTs for 99.9% less cost than minting NFTs on Ethereum (pennies versus hundreds of dollars). Tune.FM team will soon release the best-in-class <b>NFT Marketplace</b> for artists and fans to mint, auction, buy, sell, and trade Music NFTs. Bundle lossless audio with visual elements including images, video, and animations (Decentralized storage on a unique HTS token IPFS metadata) along with real world experiences (Eg. backstage meet & greet, exclusive tickets to live show, fan club access). Tokenize rare unreleased content and exclusive events by minting NFTs for limited access to livestreams, intimate performances, live shows and large-scale concerts both virtual and in-person. Pre-release audio to select supporters or publish unreleased tracks for a lucky few!</p>
							<p>The Artist is fully in control of their NFT experience, and the world is your oyster. Discover how NFTs can unlock the hidden value of your creativity through verifiable digital scarcity. Reward loyalty and monetize your super-fan club!</p>
							<ul class="actions">
								<li><img src="{% static "landing/images/hh.svg" %}" style="width:200px;margin-right:30px;"></li>
								<li><a href="https://www.hedera.com/" class="button large" target="_blank">Learn More</a></li>
							</ul>
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/-3O0SFlS74Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/LEAR4pEDCZg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							<img src="{% static "landing/images/hedera18.jpeg" %}" style="width: 102.5%;">
							<br><br>
							
						</div>
					</section>
					
					<section>
						<header>
							<h1>Roadmap</h1>
						</header>
						<div class="content" id="roadmap">
							<p>Get a look forward to our upcoming features and integrations as we build out the Tune.FM JAM ecosystem. This shortlist of features and initiatives below is a taste of what is to come and as we are working on many more simultaneously. Thanks for being an early beta tester and we look forward to your feedback and ideas!</p>
							
							<ul>
							<li><h3>NFT Minting Services & Auction Marketplace</h3></li>
							<li><h3>NFT Drop campaign marketing engine</h3></li>
							<li><h3>On-site fiat on-ramp and off-ramp with Moonpay</h3></li>
							<li><h3>More exchanges and 3rd party wallet integrations</h3></li>
							<li><h3>Interoperability bridges for Ethereum and Polygon</h3></li>
							<li><h3>Decentralized exchanges and token swap liquidity pools</h3></li>
							<li><h3>Live Social Audio for livestreaming and jamming</h3></li>
							<li><h3>Mind-bending music visualizer with VR</h3></li>
							<li><h3>NFT playlists and algorithmic playlists</h3></li>
							<li><h3>Intelligent Radio that knows your music taste</h3></li>
							<li><h3>Live DJ rooms and listening rooms with JAM rewards</h3></li>
							<li><h3>Gamified NFT badge rewards for creators & curators</h3></li>
							<li><h3>JAM marketing engine for verifiable 1st time listeners</h3></li>
							<li><h3>NFT ticketing for virtual and/or in-person live shows</h3></li>
							<li><h3>Physical Merch store with NFT tagging for products</h3></li>
							<li><h3>Tour planner and gig-booking tools for artists</h3></li>
							<li><h3>Major Label and independent label licensing integrations</h3></li>
							</ul>
							<br>
							<br>
							<div class="logo"><span class="token"><img src="/public/landing/images/hearo-token.svg"/></span></div>     
						</div>
					</section>
					<section>
						<header>
							<h1>Papers</h1>
						</header>
						<div class="content">
							<ul class="actions">
								<li><a href="/public/landing/images/Tune.FM(JAM)WhitepaperV3.pdf" class="button large" target="_blank">Tune.FM Whitepaper</a></li>
								<li><a href="https://www.hedera.com/papers" class="button large" target="_blank">Hedera Papers</a></li>
							</ul>
						</div>
					</section>
                    <!-- Section -->
					<section>
						<header>
							<h2>Say Hello!</h2>
						</header>
						<div class="content">
							<p>hello@tune.fm</p>
                            <ul class="icons">
                                <li><a href="https://twitter.com/tunefmofficial" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
								<li><a href="https://t.me/tunefm" class="icon brands fa-telegram" target="_blank"><span class="label">Telegram</span></a></li>
                                <li><a href="https://www.facebook.com/tunefmofficial" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                                <li><a href="https://www.instagram.com/tunefmofficial/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                                <li><a href="https://medium.com/hearo-fm" class="icon brands fa-medium" target="_blank"><span class="label">Medium</span></a></li>
                            </ul>
						</div>
						<footer>
                            {% include "tune.svg" %}
						</footer>
					</section>

				<!-- Copyright -->
                <div class="copyright">&copy; 2021, Tune Media Inc. All Rights Reserved.</div>
			</div>
		<!-- Scripts -->
        <script src="{% static "landing/assets/js/jquery.min.js" %}"></script>
        <script src="{% static "landing/assets/js/jquery.scrolly.min.js" %}"></script>
        <script src="{% static "landing/assets/js/browser.min.js" %}"></script>
        <script src="{% static "landing/assets/js/breakpoints.min.js" %}"></script>
        <script src="{% static "landing/assets/js/util.js" %}"></script>
        <script src="{% static "landing/assets/js/main.js" %}"></script>
	</body>
</html>
