__pycache__/
.backups
.history
.DS_Store
.notes
.ropeproject
.tmp
.todo
.vscode/tags
*-journal
*.ach
*.csv
*.db
*.log
*.pot
*.pyc
*.swo
*.swp
*\#*
*#*
*~
django_app/proto_out
docker/secrets
docs/_*
fake_data
hearo_main
hearo/src/
hearome_django
hearome_main
hertzfeld/*
jawnmower/json/*
music/*
music/*/*
music/*/*/*
node_modules
scripts/settings.local.sh
django_app/settings/local.py
django_app/static/build
django_app/static/build/*
django_app/static/css/config.less
django_app/static/js/global.js
django_app/static/LESS_CACHE
django_app/static/yuicompressor
django_app/static/yuicompressor/tests
tags
tests/audio_conversion
uploads
venv
*.sql*
*.tar.gz
*.bak
node_modules
hts/logs/*
upgrade_rethinkdb
tmp
django_app/jawnmower/json/map.coords.json
django_app/jawnmower/json/map.countries.json
django_app/media_upload/
django_app/mixingbowl/
creds/prod_creds
creds/prod_creds.pub
.venv
.mypy_cache
.vscode/settings.json
django_app/static/css/compile.css.map
django_app/JAMUSDT.BITRUE.json
