{
    "basepath" : "",
    "version_prefix" : "A1",

    "services" : [
    {
        "service" : "cloudfiles",
        "username" : "MOVED TO ENV",
        "password" : "MOVED TO ENV",
        "region": "DFW",
        "instances":
        {
            "images":
                {
                    "name" : "images",
                    "container" : "images_staging",
                    "cdn" : true
                },
            "ironcurtain" :
                {
                    "name" : "ironcurtain",
                    "container" : "ironcurtain_staging"
                },
            "publichouse" :
                {
                    "name" : "publichouse",
                    "container" : "publichouse_staging",
                    "cdn" : true
                },
            "test" :
                {
                    "name" : "test",
                    "container" : "test"
                },
            "zips":
                {
                    "name" : "zips",
                    "container" : "zip_prod",
                    "cdn" : true
                }
        }
    },
    {
        "service" : "s3",
        "username" : "MOVED TO ENV",
        "password" : "MOVED TO ENV",

        "instances" :
        {
            "dripdrop" :
            {
                "name" : "dripdrop",
                "container" : "hearo_uploadedsongs"
            },
            "failures" :
            {
                "name" : "failures",
                "container" : "hearo_failures_staging"
            }
        }
    },
    {
        "service" : "rethink",

        "name" : "staging",
        "nodelist" : ["rethinkdb"],

        "tables" : [
                {"name" : "songs", "primary_key" : "songid"},
                {"name" : "in_process", "primary_key" : "songid"},
                {"name" : "process", "primary_key" : "songid"},
                {"name" : "failures", "primary_key" : "songid"},
                {"name" : "changes", "primary_key" : "songid"},
                {"name" : "downloads", "primary_key" : "downloadid"},
                {"name" : "downloads_lock", "primary_key" : "lockon"},
                {"name" : "downloads_changes", "primary_key" : "downloadid"},
                {"name" : "images", "primary_key" :  "imageid"},
                {"name" : "images_lock", "primary_key" : "lockon"},
                {"name" : "images_changes", "primary_key" : "imageid"},
                {"name" : "services", "primary_key" : "id"}
            ]
    },
    {
        "service" : "formats",

        "formats" : {
            "aac" : {"ext" : ".aac", "suffix" : "_aac"},
            "flac" :{"ext" : ".flac", "suffix" : "_flac"},
            "mp3" : {"ext" : ".mp3", "suffix" : "_mp3"},
            "wav" : {"ext" : ".wav", "suffix" : "_wav"}
         },

         "aliases" : {
            "master" : "flac",
            "stream" : "mp3"
         }
    }
    ]
}
