/* Variables */
/* Accent green used in create-a buttons */
/* Accent red used in other buttons */
/* Accent orange used in review button */
/* Accent transluscent black used in review button */
/* Gettin' drunk with some gradients
.blue-light-gradient { .gradient(bottom, #40a2dd 25%, #329edb 63%); }
.blue-mid-gradient { .gradient(bottom, #2d7bb6 25%, #3783bf 63%); }
.blue-dark-gradient { .gradient(bottom, #2b5d8f 25%, #35689d 63%); }
*/
.blue-light-gradient {
  background-color: #329edb;
}
.blue-mid-gradient {
  background-color: #3783bf;
}
.blue-dark-gradient {
  background-color: #35689d;
}
/* Red gradient for player */
.red-player-gradient {
  background-color: #c11600 25%;
  background-image: linear-gradient(bottom, #c11600 25%, #ce1504 63%);
  background-image: -o-linear-gradient(bottom, #c11600 25%, #ce1504 63%);
  background-image: -moz-linear-gradient(bottom, #c11600 25%, #ce1504 63%);
  background-image: -webkit-linear-gradient(bottom, #c11600 25%, #ce1504 63%);
  background-image: -ms-linear-gradient(bottom, #c11600 25%, #ce1504 63%);
}
.red-player-gradient-hover {
  background-color: #e01900 25%;
  background-image: linear-gradient(bottom, #e01900 25%, #d81604 63%);
  background-image: -o-linear-gradient(bottom, #e01900 25%, #d81604 63%);
  background-image: -moz-linear-gradient(bottom, #e01900 25%, #d81604 63%);
  background-image: -webkit-linear-gradient(bottom, #e01900 25%, #d81604 63%);
  background-image: -ms-linear-gradient(bottom, #e01900 25%, #d81604 63%);
}
.red-player-gradient-active {
  background-color: #b21400 25%;
  background-image: linear-gradient(bottom, #b21400 25%, #c41404 63%);
  background-image: -o-linear-gradient(bottom, #b21400 25%, #c41404 63%);
  background-image: -moz-linear-gradient(bottom, #b21400 25%, #c41404 63%);
  background-image: -webkit-linear-gradient(bottom, #b21400 25%, #c41404 63%);
  background-image: -ms-linear-gradient(bottom, #b21400 25%, #c41404 63%);
}
.red-tracker-gradient {
  background-color: #931100 25%;
  background-image: linear-gradient(bottom, #931100 25%, #a11003 63%);
  background-image: -o-linear-gradient(bottom, #931100 25%, #a11003 63%);
  background-image: -moz-linear-gradient(bottom, #931100 25%, #a11003 63%);
  background-image: -webkit-linear-gradient(bottom, #931100 25%, #a11003 63%);
  background-image: -ms-linear-gradient(bottom, #931100 25%, #a11003 63%);
}
.red-tracker-gradient-elapsed {
  background-color: #840f00 25%;
  background-image: linear-gradient(bottom, #840f00 25%, #920f03 63%);
  background-image: -o-linear-gradient(bottom, #840f00 25%, #920f03 63%);
  background-image: -moz-linear-gradient(bottom, #840f00 25%, #920f03 63%);
  background-image: -webkit-linear-gradient(bottom, #840f00 25%, #920f03 63%);
  background-image: -ms-linear-gradient(bottom, #840f00 25%, #920f03 63%);
}
/* Black gradient for header */
.black-header-gradient {
  background-color: #1A1A1A 25%;
  background-image: linear-gradient(bottom, #1A1A1A 25%, #1D1D1D 63%);
  background-image: -o-linear-gradient(bottom, #1A1A1A 25%, #1D1D1D 63%);
  background-image: -moz-linear-gradient(bottom, #1A1A1A 25%, #1D1D1D 63%);
  background-image: -webkit-linear-gradient(bottom, #1A1A1A 25%, #1D1D1D 63%);
  background-image: -ms-linear-gradient(bottom, #1A1A1A 25%, #1D1D1D 63%);
}
.black-subheader-gradient {
  background-color: #292929 25%;
  background-image: linear-gradient(bottom, #292929 25%, #2c2c2c 63%);
  background-image: -o-linear-gradient(bottom, #292929 25%, #2c2c2c 63%);
  background-image: -moz-linear-gradient(bottom, #292929 25%, #2c2c2c 63%);
  background-image: -webkit-linear-gradient(bottom, #292929 25%, #2c2c2c 63%);
  background-image: -ms-linear-gradient(bottom, #292929 25%, #2c2c2c 63%);
}
.header-bottom-shadow {
  /*box-shadow: @prop;
  -moz-box-shadow: @prop;
  -webkit-box-shadow: @prop;*/
}
/* Sober now */
.parallax-blue-gradient {
  background-color: #c4e5f1;
  background-image: radial-gradient(circle, #c4e5f1, #b1d8f0);
  background-image: -o-radial-gradient(circle, #c4e5f1, #b1d8f0);
  background-image: -moz-radial-gradient(circle, #c4e5f1, #b1d8f0);
  background-image: -webkit-radial-gradient(circle, #c4e5f1, #b1d8f0);
  background-image: -ms-radial-gradient(circle, #c4e5f1, #b1d8f0);
}
/* Standard inset transluscent black */
/* Borders */
/* Fabric background */
/* rgba shortcuts */
/* Mix-ins */
.bgsize-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Macros */
.roboto400 {
  font-family: 'StyreneA-Regular', sans-serif;
  font-weight: 400;
}
.roboto600 {
  font-family: 'StyreneA-Regular', sans-serif;
  font-weight: 600;
}
.roboto700 {
  font-family: 'StyreneA-Regular', sans-serif;
  font-weight: 700;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.white-standard {
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: white;
  border-radius: 4px;
}
.inset-text {
  color: #3D3D3D;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
}
.vmiddle {
  display: table-cell;
  vertical-align: middle;
}
.white-to-trans-vertical {
  position: absolute;
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
}
.ellipsis-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}
.background-border-left {
  background-repeat: repeat-y;
  background-position: left;
}
.background-border-right {
  background-repeat: repeat-y;
  background-position: right;
}
.no-cursor {
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
}
#content.dashboard a {
  color: #ffffff;
}
#content.dashboard h1 {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 26px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
}
#content.dashboard h2 {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
  font-weight: 400;
  margin-bottom: 10px;
}
#content.dashboard h2.in-column {
  margin-left: 0px;
}
#content.dashboard #myacct-header {
  height: 60px;
  position: relative;
}
#content.dashboard #myacct-header div.heading {
  position: relative;
  width: 300px;
  height: 60px;
  text-align: center;
}
#content.dashboard #myacct-header div.heading > div {
  display: inline-block;
}
#content.dashboard #myacct-header div.heading > div#dashboard_error {
  padding-top: 10px;
  margin: auto 100%;
  position: relative;
  color: white;
  background: darkred;
  padding: 20px;
  z-index: 10000;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  display: none;
}
#content.dashboard #myacct-header div.heading .heading {
  position: absolute;
  left: 30px;
  top: 0px;
  text-align: left;
  height: 30px;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: #3D3D3D;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.7);
  margin: 15px 0px 13px 0px;
  color: #ffffff;
}
#content.dashboard #myacct-header div.heading #autosaver {
  position: absolute;
  right: 30px;
  top: -2px;
  height: 30px;
  margin: 15px 0px 13px 0px;
  text-align: center;
}
#content.dashboard #myacct-header div.heading #autosaver div.spinner {
  margin: 0px auto;
}
#content.dashboard #myacct-header div#tabs {
  position: absolute;
  top: -2px;
  bottom: -1px;
  right: -1px;
  width: auto;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
}
#content.dashboard #myacct-header div#tabs ul {
  position: relative;
  left: 4px;
}
#content.dashboard #myacct-header div#tabs li {
  display: inline-block;
  margin-left: -4px;
}
#content.dashboard #myacct-header div#tabs li a {
  display: block;
  font-family: 'StyreneA-Regular', sans-serif;
  color: #ffffff;
  padding: 22px 11px;
  font-size: 16px;
}
#content.dashboard #myacct-header div#tabs li a.selected {
  color: #12a0e8;
  border-bottom: 4px solid #12a0e8;
}
#content.dashboard #myacct-header div#tabs li a.selected:hover {
  /*box-shadow: @prop;
  -moz-box-shadow: @prop;
  -webkit-box-shadow: @prop;*/
  color: #5abff2;
}
#content.dashboard #myacct-header div#tabs li a:hover {
  color: rgba(255, 255, 255, 0.55);
}
#content.dashboard #myacct-header div#tabs li a:active {
  background: rgba(0, 0, 0, 0.1);
  color: black;
}
#content.dashboard #myacct-content {
  color: #ffffff;
}
#content.dashboard #myacct-content > div.content {
  padding: 10px;
  margin-top: 20px;
}
#content.dashboard #myacct-content > div.content:last-child {
  margin-bottom: 100px;
}
#content.dashboard #myacct-content > div.content.notification {
  background-image: url("/public/images/45degree_fabric_dark.png");
  color: white;
}
#content.dashboard label.greyline {
  font-family: 'StyreneA-Regular', sans-serif;
  font-size: 14px;
  display: block;
  margin: 10px 0px 5px 8px;
}
#content.dashboard div.button.blue {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  padding: 9px;
  position: relative;
  cursor: pointer;
  font-family: 'StyreneA-Regular', sans-serif;
  font-weight: 600;
}
#content.dashboard div.button.blue.small {
  height: 22px;
  padding: 6px;
}
#content.dashboard div.button.blue input {
  left: -110px;
  cursor: pointer!important;
}
#content.dashboard input[type=file].hidden {
  position: relative;
  opacity: 0;
  cursor: pointer;
  transform: scale(4);
}
#content.dashboard a {
  font-family: 'StyreneA-Regular', sans-serif;
  font-weight: 600;
}
#content.dashboard a:hover {
  opacity: 1;
}
#content.dashboard span.light {
  color: #ffffff;
}
@media (max-width: 960px) {
  #content.dashboard #myacct-header div#tabs {
    position: relative;
    top: 1px;
    bottom: -1px;
  }
  #content.dashboard #myacct-content > div.content {
    margin-top: 62px;
    padding-top: 30px;
  }
  #group_boxes .inset_box {
    margin-bottom: 40px;
  }
  .myacct-content-group {
    padding-top: 50px;
  }
  .myacct-content-payments {
    padding-top: 50px;
  }
}
