
.stats {
    float:right;
    position:absolute;
    bottom:8px;
    right:3px;
}
#artists h3{
    height:23px;
}
.feeds_review {
    width:49px;
}
.feeds_download{
    width:57px;
}
.feeds_play{
    width:165px;
    width:35px;
}
#feedsPage .filter_module{
    height:50px;
}
#button {
  cursor: pointer;
  font-family:"StyreneA-Regular";
	color:#139EE4;
	height: 30px;
	width: 100px;
	margin: 0px 22px;
}
#button:hover{
	background:rgba(0,0,0,.05);
}
#feeds_filters{
    margin-left:auto;
    margin-right:auto;
    width:100%;
}

#feedsPage .box {
    width: 304px;
    margin: 0 10px;
    float: left;
    position:relative;
    top:-80px;
    left:1px;
}

#feedsPage .box h4 {
    width: 100%;
}

#feedsPage .rank {
    width: 100%;
    height: 14px;
    padding: 5px 0;
    font-size: 14px;
    text-shadow: 0px 1px 0px #FFF;
    text-align: center;
    background: #E3E3E3;
    cursor: pointer;
}

#feedsPage .rank:hover {
    background: #D3D3D3;
}

#feedsPage .rank img {
    display: inline;
    height: 14px;
    margin-left: 3px;
    margin-bottom: -3px;
}

#feedsPage .item {
    width: 294px;
    height: 60px;
    padding: 10px 0px 10px 10px;
    position:relative;
}

#feedsPage .item:nth-child(even){
    background: rgba(132, 207, 240, 0.16);
}

#feedsPage .item a {
    text-decoration: none;
}
#feedsPage .playSong, #feedsPage .playAlbum {
    top:-5px;
    position: absolute;
}

#feedsPage .item a:hover {
    color: #999;
}

#feedsPage .item h2 {
    font-size: 20px;
    text-shadow: 0px 1px #FFF;
    float: left;
}

#feedsPage .item img {
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    float: left;
    margin: 0 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,.4);
    -webkit-box-shadow : 0px 0px 5px rgba(0,0,0,.4);
    border-radius: 3px;
}

#feedsPage .item h3, #feedsPage .item p, #feedsPage #albums .item a.linked_album_title {
    float: left;
    width: 160px;
    margin: 0 0 0.3em 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
}

#feedsPage .item h3, #feedsPage #albums .item a.linked_album_title {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

#feedsPage .item p {
    font-size: 14px;
    line-height: 16px;
    font-weight: normal;
}

#feedsPage ul.stats li, .profileSongIcons{
    float: left;
    background: url('/public/images/feed-stats-sprite.png') no-repeat;
    font-size: 10px;
    color: #999;
    margin-right: 9px;
    cursor: pointer;
    height: 12px;
	padding-top: 3px;
}

#feedsPage ul.stats li:hover {
    color: #333;
}

#feedsPage ul.stats li.play, ._p_play{
    padding-left: 12px;
    background-position: 0px -15px;
}

#feedsPage ul.stats li.play:hover, ._p_play:hover{
    background-position: 0px 0px;
}

#feedsPage ul.stats li.dl, ._p_dl {
    padding-left: 12px;
    background-position: 0px -45px;
}

#feedsPage ul.stats li.dl:hover, ._p_dl:hover{
    background-position: 0px -30px;
}

#feedsPage ul.stats li.reviews, ._p_reviews{
    padding-left: 45px;
    background-position: 0px -60px;
}

#feedsPage ul.stats li.reviews:hover, ._p_reviews:hover{
    background-position: 0px -75px;
}

#feedsPage ul.stats li.fans, ._p_fans{
    padding-left: 26px;
    background-position: 0px -105px;
}

#feedsPage ul.stats li.fans:hover, ._p_fans:hover{
    background-position: 0px -90px;
}


#feedsPage #filters {
    width: 100%;
    padding: 10px 0;
    height: 30px;
    font-family: "Museo", sans-serif;
	float: left;
}

#feedsPage #filters ul {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    background: #ffce57;
    border-bottom: solid 1px #FFF;
}

#feedsPage #filters ul.left {
    width: 304px;
    float: left;
}

#feedsPage #filters ul.right {
    width: 634px;
    float: right;
}

#feedsPage #filters li {
    float: left;
    height: 18px;
    padding: 6px 0;
    font-size: 16px;
    color: #931010;
    text-shadow: 0px 1px 1px #ffecbd;
    text-align: center;
    text-transform: lowercase;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

#feedsTabs{
    width: 692px;
    height:34px;
    border: 1px solid #185c8e;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#feeds{
    width:692px;
    height:250px;
    margin-top:10px;
}

#feedsTabs #myfeed{
    width: 231px;
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-top-left: 3px;
    border-top-left-radius: 3px;
}

#feedsTabs #fanfeed{
    width: 231px;
}

#feedsTabs #reviewsfeed{
    width: 33%;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-top-right: 3px;
    border-top-right-radius: 3px;
}

#profile .feeds {
    height: 250px;
    max-height: 250px;
    overflow: hidden;
}

