/* 
  All-encompassing page
*/


#page {
    width: 100%;
    max-width:960px;
    margin: 0 auto 0 auto;
}

    #page.full{
        max-width: 100%;
    }

#content {
    margin: 40px 0px 60px 0px;
    min-height: 300px;
    position:relative;
}

#content:after{
    height:200px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

/*
  Header elements
*/



#headerContent #id_email, #headerContent #id_password {
    width: 120px;
}

#currentAccountPhoto{
    width:24px;
    height:24px;
    margin-top:8px;
    border-bottom:1px solid #555555;
}


#headerContent form input:hover {
    background-position: 0px -40px;
}

/*
  Mail icon
*/


#accountInfo{
    position:relative;
    float :right;
}
#accountInfo .imageLink { 
  float: right; 
}

/*
  Dropdown menu
*/

ul#accountDropDown li, ul#accessibleAccountsMenu li {
    padding: .5em;
    border-bottom: 1px #333 solid;
}

ul#accountDropDown a, ul#accessibleAccountsMenu a {
    padding: .1em;
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 100%;
}

ul#accountDropDown li:hover, ul#accessibleAccountsMenu li:hover {
    background: #000;
}



/*
  Main login button in header
*/

#submitLogin {
    border:none;
    cursor: pointer;
    width:44px;
    height:23px;
    background: url('/public/images/login_button_sprite.png') no-repeat;
    font-weight: bold;
    outline: none;
    position: relative;
    bottom: 3px;
}


#loginErrorMessage {
    background: rgb(255, 57, 66);
    color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: .5em;
    margin: 1em 0;
    font-size: .9em;
    position: absolute;
    min-width:100px;
    right: 6px;
}

/* feedback box */
.slide-out-div {
    padding: 20px;
    width: 268px;
    position:fixed;
    z-index:100;
    height:365px;
    background:rgba(255, 255, 255, 1);
    z-index: 1000;

}  

.slide-out-div h4 {
    width: 309px;
    position: relative;
    left: -20px;
    top: -21px;
    font-size: 16px;
    font-weight: 600;
}

.slide-out-div h1 {
    font-family: 'Permanent Marker', cursive;
    font-size:16px;
}

.slide-out-div textarea {
    height:100px;
    max-height:100px;
    max-width:250px;
    border:0px;
    resize:none;
}
.slide-out-div input, .slide-out-div textarea{
    font-size: 14px;
    outline: none;
    padding: 6px;
    width:250px;
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 5px #858585;
    font-family:"StyreneA-Regular";
    margin-bottom:5px;
    font-weight:300;
}

.slide-out-div #submit_contact_us {
    position: relative;
    left: 190px;
    padding: 7px;
}

.slide-out-div #submit_invites {
    position: relative;
    left: 200px;
    padding: 7px;
}

.feedback_success{
    background: #52c02c;
    color: #FFF;
    -webkit-border-radius: 40px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 40px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:18px;
    padding: 4px 20px 10px 10px;
    box-shadow: inset 0 0 11px #378c19, 0 1px 1px #FFF;
    position:relative;
}
.feedback_error{
    background: #ff0000;
    color: #FFF;
    -webkit-border-radius: 40px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius: 40px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-radius: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size:18px;
    padding: 4px 20px 10px 10px;
    box-shadow: inset 0 0 11px #378c19, 0 1px 1px #FFF;
    position:relative;
}
#message_sent{
    display: inline-block;
    left: -18px;
    top: 1px;
    padding-top: 5px;
    padding-bottom: 6px;
}

#invites_sent{
    display: inline-block;
    left: 3px;
    top: 1px;
    padding-top: 5px;
    padding-bottom: 6px;
    width:129px;
}


.slide-out-div .feedback_box_explanation_text{
    font-family:"StyreneA-Regular";
    margin-top:4px;
}

.doc_subheader {
    font-weight:bold;
}

