{% extends "email_notifications/base_email.html" %}

{% block subject %}
Your Password at {{ BASE_URL }} Has Been Changed Successfully
{% endblock %}

{% block html_body %}

<p>If you did not request this change please contact <a href="mailto:support@{{ BASE_URL }}">support@{{ BASE_URL }}</a>.
</p>

{% if failed_to_unlock_hedera_private_key %}
<p>
Please note: We were unable to unlock your Hedera private keys perhaps because you previously
requested a password reset providing you only with temporary keys.
</p>
<p>
To unlock your private keys, you will need to perform additional KYC.
</p>
<p>
You may request additional KYC by contacting us at <a href="mailto:support@{{ BASE_URL }}">support@{{ BASE_URL }}</a>.
</p>

{% endif %}

{% endblock %}
