{% extends base %}

{% block content %}
<style>
.copy_right_page {
    line-height: 20px;
    padding-top: 20px;

}
.copy_right_page p{
    margin-bottom: 20px;

}
.copy_right_page ul{

}
.copy_right_page ul li{
    padding: 10px;
    list-style-type: circle;
    margin-left: 40px;
}
</style>
<div class="terms_of_use_container">
<h2>Copyright Infringement Notification Procedures</h2>
<div class="copy_right_page">
<p>All notices submitted hereunder must include the following:</p>
<ul>
    <li>An electronic or physical signature of the person authorized to act on behalf of the owner of the copyright interest;</li>
    <li> A description of the copyrighted work that you claim has been infringed;</li>
    <li>A description of where the material that you claim is infringing is located on the Site;</li>
    <li>Your address, telephone number and email address;</li>
    <li>A statement by you that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent or the law; and</li>
    <li>A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or duly authorized to act on the copyright owner’s behalf.</li>
</ul>
</div>
</div>
{% endblock %}

