<button action="fan"
        class="bttn--color-red bttn--size-small bttn--special-fan"
        fanned="{{# if fanned }}true{{/ fanned }}{{^ fanned }}false{{/ fanned }}"
        elem-type="{{ type }}"
        elem-id="{{ id }}">
</button>
