<div>
  {{# counts }}
    <li class="noun-count" data-noun="{{ noun }}">
      <strong>
        {{ count }}
      </strong>
      <span>
        {{ noun }}
      </span>
    </li>
  {{/ counts }}
</div>
