<div class="album listing download nyp">

  <div class="al-cover al-cover--download">
      <a href="/profile/{{ artistKeyword }}/"><img src="{{ artwork }}" width="60" /></a>
  </div>

  <div class="al-name al-name--download">
      <div>Tip {{ artistName }}</div>
  </div>

  <div class="sl-price sl-price--download">
      <input type="text" class="nyp-input" value="{{priceVal}}" pattern="^\d+(\.|\,)\d{2}$" />
  </div>

  <div>
    <button class="delete"></button>
  </div>

</div>
