<div class="song listing playlist">
  <div class="sl-play-button">
    <button action="play" class="play-button play-button--small" play-id="{{ id }}" play-type="song">
      <div class="spinner"></div>
    </button>
  </div>

  <div class="sl-name sl-name--playlist">
    <div>{{ title }}</div>
  </div>

  <div>
    <button class="delete"></button>
  </div>

</div>
