<div class="song listing download{{ #is_nyp }} nyp{{ /is_nyp }}">

  <div class="sl-name sl-name--download">
    <div>{{ title }}</div>
  </div>

  <div class="sl-price sl-price--download">
    {{ #is_nyp }}
      <input type="text" class="nyp-input" value="{{price}}" pattern="^\d+(\.|\,)\d{2}$" />
    {{ /is_nyp }}
    {{ ^is_nyp }}
      {{ #owned }}
      <span class="already-purchased">
      {{ /owned }}
      {{ price }}
      {{ #owned }}
      </span>
      {{ /owned }}
    {{ /is_nyp }}
  </div>

  <div>
    <button class="delete"></button>
  </div>

</div>
