{% load elements %}

<div class="fanmail_message" messageid="{{ message.id }}">
    <div class="delete_button"></div>

  <span class='to'>To: </span>
  <div class="sender">
    {% usertab message.to_profile %}
  </div>
  <div class="message">
    <div class="bulk">
      <span class="subject">
        {{ message.subject }}
      </span>
      <div class="body">
      <span class="body">
        {{ message.body }}
      </span>
      </div>
    </div>
  <div class="timestamp">
    {{ timestamp }}
  </div>
  </div>
</div>