
{
    "basepath" : "/home/crew/",
    "version_prefix" : "A0",

    "services" : [
    {
        "service" : "cloudfiles",
        "username" : "andrewantar",
        "password" : "",

        "instances":
        {
            "ironcurtain" :
                {
                    "name" : "ironcurtain",
                    "container" : "ironcurtain_test"
                },
            "publichouse" :
                {
                    "name" : "publichouse",
                    "container" : "publichouse_test",
                    "cdn" : true
                },
            "test" :
                {
                    "name" : "test",
                    "container" : "test"
                }
        }
    },
    {
        "service" : "s3",
        "username" : "",
        "password" : "",

        "instances" :
        {
            "dripdrop" :
            {
                "name" : "dripdrop",
                "container" : "hearo_dripdrop_test"
            },
            "failures" :
            {
                "name" : "failures",
                "container" : "hearo_failures_test"
            }
        }
    },
    {
        "service" : "rethink",

        "name" : "test",
        "nodelist" : ["localhost"],


        "tables" : [
            {"name" : "songs", "primary_key" : "songid"},
            {"name" : "in_process", "primary_key" : "songid"},
            {"name" : "process", "primary_key" : "songid"},
            {"name" : "failures", "primary_key" : "songid"},
            {"name" : "changes", "primary_key" : "songid"},
            {"name" : "downloads", "primary_key" : "downloadid"},
            {"name" : "services", "primary_key" : "id"}

            ]
    },
    {
        "service" : "formats",

        "formats" : {
            "aac" : {"ext" : ".aac", "suffix" : "_aac"},
            "flac" :{"ext" : ".flac", "suffix" : "_flac"},
            "mp3" : {"ext" : ".mp3", "suffix" : "_mp3"},
            "wav" : {"ext" : ".wav", "suffix" : "_wav"}
         },

         "aliases" : {
            "master" : "flac",
            "stream" : "mp3"
         }
    }
    ]
}
